<!-- screensharing/templates/screensharing/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen Sharing</title>
</head>
<body>
    <h1>Screen Sharing</h1>
    <button id="startButton">Start Screen Sharing</button>

    <script src="{% static 'screensharing/js/latest-v3.js' %}"></script>
    <script src="{% static 'screensharing/js/main.js' %}"></script>
</body>
</html>
